<html>
<head>
<title>Exercise #1: November 2015</title>
</head>


<body style="text-align:center;">

<h1 style="color:green;"><marquee>Computer networks 2015/2016: Ex. #1</marquee></h1>
<h2 style="color:blue;">Ariel Verber, Omri Keret</h2>
<a href="#mylastimage">Show me the last image</a>
<a href="#myform">Show me the last form</a>
<br><br><br><br><br><br><br><br><br><br><br><br>
<img src="https://media3.giphy.com/media/5DQdk5oZzNgGc/200w.gif" />
<img src="https://media2.giphy.com/media/r4NmiksbjvMPe/200w.gif" />
<img src="https://media1.giphy.com/media/X1tTJzw2LMyIw/200w.gif" />
<img src="https://media2.giphy.com/media/8Jp396PgNPzlC/200w.gif" />
<img src="https://media2.giphy.com/media/3oEdv3VDEIbMQX8N3i/200w.gif" />
<br><br>
<a href="http://moodle.idc.ac.il/course/view.php?id=22816">Course Website</a>
<a href="http://www.fallingfalling.com/">Our Favorite Website</a>
<hr><br>
<br><br><br><br><br><br><br><br><br><br><br><br><hr><br>
<img id="mylastimage" src="http://ak-hdl.buzzfed.com/static/2014-07/18/10/enhanced/webdr09/anigif_enhanced-buzz-22799-1405693809-7.gif" />
<br><br><br><br><br><br><br><br><br><br><br><br>

<h2>The mighty form!</h2>
<form id="myform" method="post" action="" novalidate>
<br><br><br>
Sender:
<input type="text" name="sender">
<br><br>
Receiver:
<input type="text" name="receiver">
<br><br>
Subject:
<input type="text" name="subject">
<br><br>
Message Field:
<textarea name="Message Field"></textarea>
<br><br>
<input type="submit" name="submit" value="submit">
<br><br>

</form>
<br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>
